.pageContainer {
    padding: .5em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.orderContainer {
    display: flex;
    flex-direction: column;
    gap: .3em;
    background-color: #453643;
    color: #8DAA91;
    padding: .5em;
    border-radius: .2em;

}

.ordersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
}

.pickupStatus {
    border-radius: .2em;
    color: black;
    padding: .3em;
    width: fit-content;
    font-size: medium;
    font-weight: 600;
}

.pending {
    background-color: rgb(255, 255, 129);
}

.completed {
    background-color: #90ee90;
}   

.canceled {
    background-color: #ff7f7f;
}


@media screen and (max-width: 800px) {
    .ordersContainer {
        grid-template-columns: 1fr;
    }
}