.navbarContainer{
    background-color: #28112B;
    height: 96px;
    display: flex;
    align-items: center;
    padding: 0.2em;
}

.logo {
    width: 5em;
}

.navbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
}

.navbarLink {
    color: #8DAA91;
}

.navbarLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: .5em;
}

.mobileNavBarItems {
    display: none;
}

.mobileNavBarButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    font-size: xx-large;
    padding: .5em;
}

.drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #28112B;
    padding: 2em;
    gap: 1em;
    font-size: xx-large;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .navbarItems {
        display: none;
    }

    .mobileNavBarItems {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}