* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#root {
  font-size: x-large;
}

button {
  width: fit-content;
  background-color:  #453643;
  color: #ffffffe4;
  border: none;
  padding: 1em;
  border-radius: .5em;
  cursor: pointer;
}